---
permalink: opt
title-seo: Купить снюс оптом в Украине
descr: У нас Вы можете купить шведский снюс по оптовым ценам. Снюс опт в Украине Звоните
  +380675680230
keywords: снюс оптом, купить снюс
layout: compress
---

{% include head.html %}
<body>

	<div class="content">

		{% include header.html %}

		{% include top-line.html %}


		<div class="container">
			<main class="opt margin-top-2rem">

				<section>
					<h1 class="h2">Снюс оптом Украина</h1>
					<p class="lead">У нас Вы можете купить снюс по оптовым ценам<br>
						Для более подробной информации <a href="#contactModal" data-toggle="modal" data-target="#contactModal">свяжитесь с нами</a><br>
					Мы всегда будем рады с Вами сотрудничать</p>
					<p>Оптовые цены действуют при заказе от 100 банок (суммарно, можете взять 10 тех, 50 тех, 30 тех итд, главное, чтоб в сумме было не меньше 100), если Вас интересует меньший объем, то уточните <a href="#contactModal" data-toggle="modal" data-target="#contactModal">связавшись с нами</a>, лучше пишите в телеграмм или другие месседжеры.</p>
					<small>*цены указаны за 1 банку</small>
					<table class="table table-sm table-bordered opt-table">
						<thead>
							<tr>
								<th>Название</th>
								<th>100 банок</th>
								<th>240 банок</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="/siberia-white"><img src="img/products/siberia-white-dry.png" alt="Siberia Extremely Strong White Dry купить снюс оптом в Украине"> Siberia Extremely Strong White Dry</a></td>
								<td>135 грн</td>
								<td>127 грн</td>
							</tr>
							<tr>
								<td><a href="/siberia-white-dry-slim"><img src="img/products/siberia-white-dry-slim.jpg" alt="Siberia -80°C Slim White Dry снюс оптом в Украине"> Siberia -80°C Slim White Dry</a></td>
								<td>137 грн</td>
								<td>130	 грн</td>
							</tr>
							<tr>
								<td><a href="/siberia-brown"><img src="/img/products/siberia-brown.jpg" alt="Siberia Brown Portion Snus оптом в Украине"> Siberia Brown Portion Snus</a></td>
								<td>135 грн</td>
								<td>132 грн</td>
							</tr>
							<tr>
								<td><a href="/siberia-brown-slim"><img src="/img/products/siberia-brown-slim.jpg" alt="Siberia -80°C Brown Slim Portion Snus Оптом в Украине"> Siberia -80°C Slim Brown</a></td>
								<td>139 грн</td>
								<td>133 грн</td>
							</tr>
							<tr>
								<td><a href="/lyft-strong-ice-cool-mint-slim-all-white"><img src="/img/products/lyft-ice-cool-strong-mint-slim-all-white-portion.png" alt="Снюс Lyft купить оптом в Украине"> LYFT Strong Ice Cool Mint Slim All White</a></td>
								<td>165 грн</td>
								<td>160 грн</td>
							</tr>
							<tr>
								<td><a href="/lyft-strong-ice-cool-mint-slim-all-white"><img src="/img/products/lyft-x-strong-freeze-slim-white.jpg" alt="Снюс Lyft Freeze купить оптом в Украине"> Lyft Freeze X-strong</a></td>
								<td>165 грн</td>
								<td>160 грн</td>
							</tr>
							<tr>
								<td><a href="/general-g4-slim-apple-white"><img src="/img/products/g4-fuzn-slim-all-white-extra-strong-portion.jpg" alt="G4 Apple снюс оптом в Украине"> G4 Apple Mint Slim All White</a></td>
								<td>155 грн</td>
								<td>150 грн</td>
							</tr>
							<tr>
								<td><a href="/g4-cryo-slim-all-white-super-strong"><img src="/img/products/g4-cryo-slim-all-white-super-strong.jpg" alt="G.4 CRYO Slim All White Super Strong снюс оптом в Украине"> G.4 CRYO Slim All White Super Strong</a></td>
								<td>155 грн</td>
								<td>150 грн</td>
							</tr>
							<tr>
								<td><a href="/general-xrange-white-strong"><img src="/img/products/general-xrange-white-strong.png" alt="XRANGE General Slim Large White Strong снюс оптом в Украине"> XRANGE General Slim Large White Strong</a></td>
								<td>125 грн</td>
								<td>115 грн</td>
							</tr>
							<tr>
								<td><a href="/general-classic-extra-strong"><img src="/img/products/general-classic-extra-strong-portion.png" alt="General Classic Extra Strong Portion снюс оптом в Украине"> General Classic Extra Strong Portion</a></td>
								<td>140 грн</td>
								<td>135 грн</td>
							</tr>
							<tr>
								<td><a href="/thunder-x-white-dry"><img src="/img/products/thunder-x-white-dry.png" alt="Thunder X White Dry снюс оптом в Украине"> Thunder X White Dry Super Strong</a></td>
								<td>123 грн</td>
								<td>118 грн</td>
							</tr>
							<tr>
								<td><a href="/thunder-x-slim-white-dry"><img src="/img/products/thunder-x-slim-white-dry.png" alt="Thunder X Slim White Dry снюс оптом в Украине"> Thunder X Slim White Dry</a></td>
								<td>123 грн</td>
								<td>118 грн</td>
							</tr>
							<tr>
								<td><a href="/thunder-nrg-white-dry-portion-snus"><img src="/img/products/thunder-nrg-white-dry.png" alt="Thunder NRG White Dry снюс оптом в Украине"> Thunder NRG White Dry</a></td>
								<td>128 грн</td>
								<td>123 грн</td>
							</tr>
							<tr>
								<td><a href="/thunder-x-original-portion-snus"><img src="/img/products/thunder-x-original-portion-snus.png" alt="Thunder X Original Portion снюс оптом в Украине"> Thunder X Original Portion</a></td>
								<td>128 грн</td>
								<td>113 грн</td>
							</tr>
							<tr>
								<td><a href="/offroad-x-white-dry-arctic-explorer"><img src="/img/products/offroad-x-white-dry-arctic-explorer.jpg" alt="Offroad X White Dry Arctic Explorer снюс оптом в Украине"> Offroad X White Dry Arctic Explorer</a></td>
								<td>100 грн</td>
								<td>95 грн</td>
							</tr>
							<tr>
								<td><a href="/odens-cold-dry"><img src="img/products/odens-cold-dry.png" alt="odens cold dry"> Odens Cold Dry Extreme White Portion</a></td>
								<td>100 грн</td>
								<td>90 грн</td>
							</tr>
						</tbody>
					</table>
					<p>Цены указаны на самые популярные товары. Если Вас интересует что-то другое, то свяжитесь с нами для уточнения цен.</p>
				</section>

				<hr>

				<section class="row">
					<div class="col-md-7 d-flex align-items-center">
						<div>
							<h1 class="h2" id="opt-discount">Акции и скидки</h1>
							<p class="lead">Cкидка 5% на весь <strong>шведский снюс </strong>(купон: <b>5disc</b>).<br>При покупке от 10 любых банок действуют скидка 7% (<b>купон: 10cans</b>)<br>Для постоянных клиентов, которые суммарно купили болee 50 банок - купон со скидкой 10%<br><small>Скидки отображаются только при оформлении заказа (на странице <a href="/order">заказа</a>)</small></p>
						</div>
					</div>
					<div class="col-md-5 text-center">
						<img class="img-fluid discount-img" src="img/opt/banking.svg" alt="Скидки и акции">
					</div>
				</section>

				<section class="mb-4">
					<h2>Каталог снюса | Розничные цены</h2>
					<div class="row">
						<!-- PRODUCTS start -->
						<!-- PRODUCT START -->
						{% assign sorted_items = site.products | sort:"position" %}
						{% for product in sorted_items offset:0 limit:6 %}
						
						{% include item-product.html %}

						{% endfor %}
						<!-- PRODUCT END -->
						<!-- PRODUCTS end -->
					</div>
					<div>
						<a class="btn btn-primary" href="/" role="button">Больше товаров</a>
					</div>
				</section>


			</main>
		</div>
	</div>

	{% include modal-cart.html %}

	{% include modal-contact.html %}

	{% include arrow-to-top.html %}

	{% include footer.html %}

	{% include foot-scripts.html %}
