---
permalink: about
title-seo: Доставка снюса по Украине и в Киев, Харьков
descr: SnusTop - интернет-магазин по продаже снюса в г Киеве, Харькове, Одессе, Днепре,
  Львове, Запорожье и др. Снюс всегда в наличии. Звоните 0675680230. Высылаем новой
  почтой.
keywords: snustop, снюс, snus, снюс Украина, снюс Киев
layout: compress
---

{% include head.html %}
<body>

	<div class="content">

		{% include header.html %}

		{% include top-line.html %}


		<main>

			<section class="jumbotron bg-light text-center" role="banner">
				<h1 class="h2">Снюс Украина</h1>
				<p class="lead">Snustop — интернет-магазин специализирующийся на продаже<br> <strong>шведского снюса</strong> в Украине.

			</section>

			<div class="container">

				<section class="about-us">
					<h2 class="h3">О нас</h2>
					<div class="row">

						<article class="col-lg-4">
							<div class="card h-100">
								<img class="card-img-top" src="img/about/kiev-snus.jpg" alt="Купить снюс в Киеве">
								<div class="card-body">
									<h3 class="h5 card-title">
										Снюс в Киеве
									</h3>
									<p class="card-text">Многие задаются вопросом: <strong>где купить снюс в Киеве?</strong>, к сожалению мы находимся в городе Днепр и высылаем снюс во все города Украины курьерской службой "Новая Почта".	Доставка 1 день.</p>
								</div>
							</div>
						</article>

						<article class="col-lg-4">
							<div class="card h-100">
								<img class="card-img-top" src="img/about/stock-snus.png" alt="Купить снюс в Украине">
								<div class="card-body">
									<h3 class="h5 card-title">
										Широкий ассортимент
									</h3>
									<p class="card-text">Наш акцент в основном сделан на <a href="/ultra-strong">крепкий снюс</a>, такие как: <a href="/epok">эпок снюс</a>, <a href="/odens">odens snus</a>, <a href="/siberia">siberia</a> и другие.
									Ассортимент постоянно расширяется.</p>
								</div>
							</div>
						</article>

						<article class="col-lg-4">
							<div class="card h-100">
								<img class="card-img-top" src="img/about/snus-fresh.jpg" alt="Снюс хранится в холодильнике">
								<div class="card-body">
									<h3 class="h5 card-title">
										Свежий снюс
									</h3>
									<p class="card-text">Весь снюс хранится в соответствии с условиями правильного хранения данного вида товара, где поддерживается правильная температура и влажность.
									У нас всегда свежий снюс.</p>
								</div>
							</div>
						</article>

					</div>
				</section>

			</div>

		</main>

	</div>

	{% include modal-cart.html %}

	{% include modal-contact.html %}

	{% include arrow-to-top.html %}

	{% include footer.html %}

	{% include foot-scripts.html %}
