---
permalink: about
title-seo: Купить снюс в Украине — интернет-магазин
descr: SnusTop - интернет-магазин по продаже снюса в городах Киев, Харьков, Одесса,
  Днепр, Львов, Запорожье и др. Снюс всегда в наличии. Звоните 0675680230. Высылаем
  новой почтой.
keywords: snustop, снюс, snus, снюс Украина, снюс Киев, снюс Харьков, снюс Одесса,
  снюс Днепр, снюс Львов
layout: compress
---

{% include head.html %}
<body> 

	<div class="content"> 

		{% include header.html %}

		{% include top-line.html %}

		<main> 
			<section class="jumbotron bg-light text-center" role="banner"> 
				<h1 class="h2">Снюс Украина</h1> 
				<p class="lead">Snustop — интернет-магазин специализирующийся на продаже<br> <strong>шведского снюса</strong> в Украине. </p>
			</section> 
			<div class="container">
				<section class="about-us mb-4"> 
					<h2 class="h3">О нас</h2> 
					<div class="row"> 
						<article class="col-lg-4"> 
							<div class="card h-100"> 
								<img class="card-img-top" src="img/about/kiev-snus.jpg" alt="Купить снюс в Киеве"> 
								<div class="card-body"> 
									<h3 class="h5 card-title">Снюс в Киеве и других крупных городах</h3> 
									<p class="card-text">Можно забрать в Киеве, иногда в Днепре, Одессе, Харькове и Запорожье. На счет доставки по городу уточняйте, <a href="#contactModal" data-toggle="modal" data-target="#contactModal">связавшись с нами</a>.
										<br>Если что всегда можно отправить "Новой Почтой", <b>доставка 1 день</b></p> 
									</div> 
								</div>
							</article> 
							<article class="col-lg-4"> 
								<div class="card h-100"> 
									<img class="card-img-top" src="img/about/stock-snus.png" alt="Купить снюс в Украине"> 

									<div class="card-body"> 
										<h3 class="h5 card-title"> Широкий ассортимент </h3> 
										<p class="card-text">Наш акцент в основном сделан на <a href="/ultra-strong">крепкий снюс</a>, такие как: <a href="/epok">эпок снюс</a>, <a href="/odens">odens snus</a>, <a href="/siberia">siberia</a> и другие. Ассортимент постоянно расширяется.</p> 
									</div> 
								</div> 
							</article> 

							<article class="col-lg-4"> 

								<div class="card h-100"> 
									<img class="card-img-top" src="img/about/snus-fresh.jpg" alt="Снюс хранится в холодильнике"> 
									<div class="card-body"> 
										<h3 class="h5 card-title"> Свежий снюс </h3> 
										<p class="card-text">Весь снюс хранится в соответствии с условиями правильного хранения данного вида товара, где поддерживается правильная температура и влажность. У нас всегда свежий снюс.</p> 
									</div> 
								</div> 
							</article> 
						</div> 
					</section> 

					<section class="mb-4">
						<h2>Каталог снюса</h2>
						<div class="row">
							<!-- PRODUCTS start -->
							<!-- PRODUCT START -->
							{% assign sorted_items = site.products | sort:"position" %}
							{% for product in sorted_items offset:0 limit:6 %}

							{% include item-product.html %}

							{% endfor %}
							<!-- PRODUCT END -->
							<!-- PRODUCTS end -->
						</div>
						<div>
							<a class="btn btn-primary" href="/" role="button">Больше товаров</a>
						</div>
					</section>
				</div> 
			</main> 
		</div> 
		<!-- Modal cart START --> 
		{% include modal-cart.html %}
		<!-- Modal cart END --> 
		<!-- Modal contact START --> 
		{% include modal-contact.html %}
		{% include arrow-to-top.html %}
		{% include footer.html %}
		{% include foot-scripts.html %}
