---
permalink: delivery
title-seo: Доставка снюса по Украине и Киеву
descr: Мы отправляем снюс в Киев, Харьков, Одессу, Днепр, Львов и др города. Доставка
  1 день.
keywords: доставка снюса, заказать снюс
layout: compress
---

{% include head.html %}
<body>

	<div class="content">

		{% include header.html %}

		{% include top-line.html %}


		<div class="container">
			<main class="delivery margin-top-2rem">
				<section>
					<h1 class="text-center">Доставка снюса по Украине</h1>
					<hr>
					
					<div class="row">
						<div class="col-md-7 d-flex align-items-center">
							<div>
								<h2 class="h2">Новой почтой</h2>
								<p class="lead">Мы отправляем снюс по всей территории Украины курьерской службой "Новая Почта"</p>
								<ul>
									<li>Доставка 1 день</li>
									<li>Средняя стоимость доставки 30-35 грн</li>
									<li>Отправка без предоплаты</li>
									<li>Отправляем каждый день в 17:30</li>
								</ul>
							</div>
						</div>
						<div class="col-md-5 text-center">
							<img class="img-fluid mx-auto" src="img/delivery/nova-poshta.png" alt="Доставка снюса в Украине Новой Почтой">
						</div>
					</div>
					<hr>
				</section>

				

				<section class="text-center">
					<h1>Способы оплаты</h1>
					<hr>

					<div class="row">

						<div class="pay-item col-lg-4">
							<div class="wrap-img">
								<img src="img/delivery/privat24.svg" alt="На карту ПриватБанка">
							</div>
							<h2 class="h5">На карту ПриватБанка</h2>
							<p>Самый быстрый способ оплаты на карту – платеж через систему Приват24</p>
						</div>

						<div class="pay-item col-lg-4">
							<div class="wrap-img">
								<img src="img/delivery/money.svg" alt="Наложенный платеж Новая почта">
							</div>
							<h2 class="h5">Наложенный платеж</h2>
							<p>Оплата при получении.<br>Стоимость отправки денег наложенным платежом: 20 грн +2% от суммы заказа</p>
						</div>

						<div class="pay-item col-lg-4">
							<div class="wrap-img">
								<img src="img/delivery/bitcoin.svg" alt="Оплата bitcoin">
							</div>
							<h2 class="h5">Электронные деньги</h2>
							<p>Принимаем QIWI(рубли), AdvCash(USD), криптовалюты(BTC, ETH, BCH, и др)</p>
						</div>

					</div>

				</section>


			</main>
		</div>
	</div>

	{% include modal-cart.html %}

	{% include modal-contact.html %}

	{% include arrow-to-top.html %}

	{% include footer.html %}	
	
	{% include foot-scripts.html %}
