---
title-seo: Доставка снюса по Украине и Киеву
descr: Доставка снюса в Киев, Харьков, Одесса, Днепр, Львов и др города. Снюс всегда
  в наличии!
keywords: доставка снюса, заказать снюс
layout: compress
---

{% include head.html %}
<body>
	<div class="content">
		{% include header.html %}

		{% include top-line.html %}

		<div class="container">
			<main class="delivery margin-top-2rem">
				<section class="text-center">
					<h1>Доставка снюса по Украине и другим городам</h1>
					<div class="row">
						<div class="col-lg-4">
							<div class="pay-item">
								<div class="wrap-img"> <img src="img/delivery/nova-poshta.png" alt='Курьерской службной "Новая Почта"'> </div>
								<h2 class="h5">Новой почтой</h2>
								<p>Мы отправляем снюс по всей территории Украины курьерской службой <b>"Новая Почта"</b></p>
								<ul class="text-left">
									<li>Доставка 1-2 дня</li>
									<li>Средняя стоимость доставки 30-40 грн (без наложки)</li>
									<li>Отправка без предоплаты</li>
									<li>Отправляем каждый день в 17:30, на следующий день в Вашем городе (Киев, Харьков, Днепр, Одесса и др.), в некоторые города доставка занимает 2 дня</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="pay-item">
								<div class="wrap-img"> <img src="img/delivery/fast.svg" alt="Быстрая доставка поездом или машиной"> </div>
								<h2 class="h5">Молниеносная доставка</h2>
								<p>Доставка в <b>течении дня</b> в любой город. Передача через попутчиков (BlaBlaCar, поездом, и др. транспортом)<br> Стоимость услуги: <b>350-500 грн</b></p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="pay-item">
								<div class="wrap-img"> <img src="img/delivery/kiev.svg" alt="Доставка по Киеву и другим городам"> </div>
								<h2 class="h5">Доставка по Киеву</h2>
								<p>Доставка по Киеву и другим крупным городам. Уточните, <a href="#contactModal" data-toggle="modal" data-target="#contactModal">связавшись с нами</a></p>
								<ul class="text-left">
									<li>Самовывоз</li>
									<li>Доставка через TAXI</li>
									<li>Курьерская доставка</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="text-center">
					<h1>Способы оплаты</h1>
					<div class="row">
						<div class="col-lg-4">
							<div class="pay-item">
								<div class="wrap-img"> <img src="img/delivery/privat24.svg" alt="На карту ПриватБанка"> </div>
								<h2 class="h5">На карту ПриватБанка</h2>
								<p>Самый быстрый способ оплаты на карту – платеж через систему Приват24</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="pay-item">
								<div class="wrap-img"> <img src="img/delivery/money.svg" alt="Наложенный платеж Новая почта"> </div>
								<h2 class="h5">Оплата наличными</h2>
								<p>Оплата при получении (Новая Почта) или при встрече.
									<br>Стоимость отправки денег наложенным платежом: 20 грн +2% от суммы заказа</p>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="pay-item">
									<div class="wrap-img"> <img src="img/delivery/bitcoin.svg" alt="Оплата bitcoin"> </div>
									<h2 class="h5">Электронные деньги</h2>
									<p>Принимаем QIWI (рубли), AdvCash (USD), криптовалюты (BTC, ETH, BCH, и др)</p>
								</div>
							</div>
						</div>
					</section>
				</main>
			</div>
		</div>

		{% include modal-cart.html %}

		{% include modal-contact.html %}

		{% include arrow-to-top.html %}

		{% include footer.html %}

		{% include foot-scripts.html %}