---
permalink: konkurs
title-seo: Розыгрыш 10-ти банок
descr: Разыграем 10-ть банок снюcа. Условия очень просты.  Результаты 1 ноября 2020.
keywords: снюс конкурс, снюс бесплатно
layout: compress
---

{% include head.html %}
<body>

	<div class="content">

		{% include header.html %}

		{% include top-line.html %}


		<div class="container">
			<main class="margin-top-2rem">
				<section>
					<h1 class="h2">Розыгрыш 10-ти банок</h1>
					<p>Разыграем 10-ть банок, условия очень просты, подробнее ниже.</p>
					<div class="popup-gallery d-flex mb-3">
						<a href="/img/inst/konkurs-10.jpg" title="Розыгрыш 10-ти банок"><img class="img-fluid" src="/img/inst/konkurs-10.jpg" alt="Розыгрыш 10-ти банок, подробности ниже."></a>
					</div>
					<h2>Условия</h2>
					<ol>
						<li>Подписаться на телеграмм бота <a target="_blank" href="//t.me/snustop_bot">@snustop_bot</a> и нажать "старт"</li>
						<li>Выбрать "Конкурс на 10-ть банок". И следовать инструкциям:</li>
						<li>Там простые действия (выбрать свой город, написать телефон и инстаграм) и ждать результатов.</li>
					</ol>
					<div class="mb-4 d-flex justify-content-end">
						<a class="btn btn-telegram" href="//t.me/snustop_bot" target="_blank" title="Telegram">Участвовать <i class="icon-telegram"></i></a>
					</div>

					<h2>Результаты</h2>
					<p>Будет <b>5 победителей по 2 банки на выбор.</b>
						Следите за всеми новостями в телеграмм канале: <a target="_blank" href="//t.me/snustopUA">@snustopUA</a></p>
					</section>
					
					<hr>
	
					<section class="mb-4">
						<h2>Каталог снюса</h2>
						<div class="row catalog">
							<!-- PRODUCTS start -->
							<!-- PRODUCT START -->
							{% assign sorted_items = site.products | sort:"position" %}
							{% for product in sorted_items offset:0 limit:6 %}

							{% include item-product.html %}

							{% endfor %}
							<!-- PRODUCT END -->
							<!-- PRODUCTS end -->
						</div>
						<div>
							<a class="btn btn-primary" href="/" role="button">Больше товаров</a>
						</div>
					</section>


				</main>
			</div>
		</div>

		{% include modal-cart.html %}

		{% include modal-contact.html %}

		{% include arrow-to-top.html %}

		{% include footer.html %}

		{% include foot-scripts.html %}
