---
permalink: opt
title-seo: Купить Снюс оптом Украина | Снюс опт
descr: Снюс оптом, все в наличии, доставка 1-3 дня, Siberia, Faff, Lyft, Thunder,
  Corvus, Odens, General и другие, отправка новой почтой наложенным платежом.
keywords: снюс оптом, купить снюс
layout: compress
---

{% include head.html %}
<body>

	<div class="content">

		{% include header.html %}

		{% include top-line.html %}


		<div class="container">
			<main class="opt margin-top-2rem">
				<section>
					<h1 class="h2">Снюс оптом Украина</h1>
					<p>У нас Вы можете купить снюс по оптовым ценам<br>
						Для более подробной информации свяжитесь с нами в телеграмме: <a class="btn btn-telegram" href="//t.me/snustop" target="_blank" title="написать в телеграмм">Написать в Telegram<i class="icon-telegram"></i></a><br></p>
					<small>*цены указаны за 1 банку в грн (50шт/100шт) (если нужно больше, то напишите нам)</small>
					<table class="table table-sm table-bordered opt-table">
						<thead class="table-dark">
							<tr>
								<th>img</th>
								<th>Название</th>
								<th>50</th>
								<th>100</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="/thunder-x-slim-white-dry"><img src="/img/products/thunder-x-slim-white-dry.png" alt="Thunder X Slim White Dry снюс оптом в Украине"></a></td>
								<td><a href="/thunder-x-slim-white-dry">Thunder X Slim</a></td>
								<td>115</td>
								<td>110</td>
							</tr>
							<tr>
								<td><a href="/white-fox-slim-all-white"><img src="/img/products/white-fox-all-white-portion-snus.jpg" alt="снюс Fox All white купить оптом в Украине"></a></td>
								<td><a href="/white-fox-slim-all-white">Fox любой</a></td>
								<td>120</td>
								<td>110</td>
							</tr>
<!-- 							<tr>
								<td><a href="/chainsaw-cold-white-dry-ultra-strong-portion-snus"><img src="/img/products/chainsaw-cold-white-dry.jpg" alt="CHAINSAW Cold White Dry Ultra Strong"></a></td>
								<td><a href="/chainsaw-cold-white-dry-ultra-strong-portion-snus">CHAINSAW</a></td>
								<td>95</td>
								<td>85</td>
							</tr> -->
							<tr>
								<td><a href="/siberia-white-dry-slim"><img src="/img/products/siberia-white-dry-slim.jpg" alt="Siberia -80°C Slim White Dry снюс оптом в Украине"></a></td>
								<td><a href="/siberia-white-dry-slim">Красная Сибирь слим🔴</a></td>
								<td>135</td>
								<td>130</td>
							</tr>
							<tr>
								<td><a href="/fizzy-jingle-plus"><img src="/img/products/pod/fizzy/fizzy-jungle-plus.jpg" alt="Одноразка Fizzy 700 тяг купить оптом в Украние"></a></td>
								<td><a href="/fizzy-jingle-plus">Одноразка Fizzy 700 puff</a></td>
								<td>135</td>
								<td>125</td>
							</tr>
							<tr>
								<td><a href="/maskking-pro-mixed-berries"><img src="/img/products/pod/maskking-pro-mixed-berries.jpg" alt="Одноразка massking pro 1000 тяг купить оптом в Украние"></a></td>
								<td><a href="/maskking-pro-mixed-berries">Одноразка Maskking Pro 1000 тяг</a></td>
								<td>145</td>
								<td>135</td>
							</tr>
							<tr>
								<td><a href="/siberia-white"><img src="/img/products/siberia-white-dry.png" alt="Siberia Extremely Strong White Dry купить снюс оптом в Украине"></a></td>
								<td><a href="/siberia-white">Красная сибирь <b>16 граммовая</b>🔴</a></td>
								<td>150</td>
								<td>145</td>
							</tr>
							<tr>
								<td><a href="/corvus-brutal"><img src="/img/products/corvus-brutal-snus.jpg" alt="Corvus Brutal оптом в Украине"></a></td>
								<td><a href="/corvus-brutal">Corvus Brutal</a></td>
								<td>120</td>
								<td>110</td>
							</tr>
							<tr>
								<td><a href="/corvus"><img src="/img/products/corvus/corvus-fenix.png" alt="Корвус Fenix оптом в Украине"></a></td>
								<td><a href="/corvus">Любой Вкусовой Corvus</a></td>
								<td>125</td>
								<td>110</td>
							</tr>
							<tr>
								<td><a href="/faff"><img src="/img/products/faff-energy.png" alt="снюс Faff оптом в Украине"></a></td>
								<td><a href="/faff">Любой Faff</a></td>
								<td>120</td>
								<td>110</td>
							</tr>
							<tr>
								<td><a href="/arqa"><img src="/img/products/arqa/arqa-cold-energy.jpg" alt="снюс Arqa оптом в Украине"></a></td>
								<td><a href="/arqa">Любая Arqa</a></td>
								<td>120</td>
								<td>110</td>
							</tr>
							<tr>
								<td><a href="/dzen-ice-mint"><img src="/img/products/dzen/dzen-mint.jpg" alt="снюс dzen оптом в Украине"></a></td>
								<td><a href="/dzen-ice-mint">Dzen любой вкус</a></td>
								<td>120</td>
								<td>110</td>
							</tr>
							<tr>
								<td><a href="/lyft"><img src="/img/products/lyft-ice-cool-strong-mint-slim-all-white-portion.png" alt="Снюс Lyft купить оптом в Украине"></a></td>
								<td><a href="/lyft">Любой LYFT</a></td>
								<td>160</td>
								<td>150</td>
							</tr>
							<tr>
								<td><a href="/lyft-x-strong-freeze-slim-white"><img src="/img/products/lyft-x-strong-freeze-slim-white.png" alt="Снюс Lyft Freeze купить оптом в Украине"></a></td>
								<td><a href="/lyft-x-strong-freeze-slim-white">Lyft Freeze X-strong</a></td>
								<td>160</td>
								<td>150</td>
							</tr>
<!-- 							<tr>
								<td><a href="/siberia-brown"><img src="/img/products/siberia-brown.jpg" alt="Siberia Brown Portion Snus оптом в Украине"></a></td>
								<td><a href="/siberia-brown">Siberia Brown</a></td>
								<td>140</td>
								<td>135</td>
							</tr> -->
							<tr>
								<td><a href="/siberia-brown-slim"><img src="/img/products/siberia-brown-slim.jpg" alt="Siberia -80°C Brown Slim Portion Snus Оптом в Украине"></a></td>
								<td><a href="/siberia-brown-slim">Siberia Brown Slim</a></td>
								<td>140</td>
								<td>135</td>
							</tr>
							<tr>
								<td><a href="/siberia-ice-cold-power-white-portion-slim"><img src="/img/products/siberia-blue-slim-white.jpg" alt="синяя сибирь слим Оптом в Украине"></a></td>
								<td><a href="/siberia-ice-cold-power-white-portion-slim">Синяя сибирь слим🔵</a></td>
								<td>140</td>
								<td>135</td>
							</tr>
							<tr>
								<td><a href="/general-g4-slim-apple-white"><img src="/img/products/g4-fuzn-slim-all-white-extra-strong-portion.jpg" alt="G4 Apple снюс оптом в Украине"></a></td>
								<td><a href="/general-g4-slim-apple-white">G4 Apple White</a></td>
								<td>150</td>
								<td>145</td>
							</tr>
							<tr>
								<td><a href="/g4-cryo-slim-all-white-super-strong"><img src="/img/products/g4-cryo-slim-all-white-super-strong.jpg" alt="G.4 CRYO Slim All White Super Strong снюс оптом в Украине"></a></td>
								<td><a href="/g4-cryo-slim-all-white-super-strong">G.4 CRYO White</a></td>
								<td>150</td>
								<td>145</td>
							</tr>
							<tr>
								<td><a href="/g4-deep-freeze-slim-all-white"><img src="/img/products/g4-deep-freeze.jpg" alt="G.4 Deep freeze снюс оптом в Украине"></a></td>
								<td><a href="/g4-deep-freeze-slim-all-white">G.4 Deep Freeze White</a></td>
								<td>150</td>
								<td>145</td>
							</tr>
							<tr>
								<td><a href="/offroad-x-white-dry-arctic-explorer"><img src="/img/products/offroad-x-white-dry-arctic-explorer.jpg" alt="Offroad X White Dry Arctic Explorer снюс оптом в Украине"></a></td>
								<td><a href="/offroad-x-white-dry-arctic-explorer">Offroad X</a></td>
								<td>100</td>
								<td>90</td>
							</tr>
							<tr>
								<td><a href="/general-xrange-white-strong"><img src="/img/products/general-xrange-white-strong.png" alt="XRANGE General Slim Large White Strong снюс оптом в Украине"></a></td>
								<td><a href="/general-xrange-white-strong">XRANGE General</a></td>
								<td>125</td>
								<td>120</td>
							</tr>
							<tr>
								<td><a href="/odens-cold-dry"><img src="img/products/odens-cold-dry.png" alt="odens cold dry 16 gramm"></a></td>
								<td><a href="/odens-cold-dry">Odens Cold Dry <b>16 граммовый</b></a></td>
								<td>125</td>
								<td>115</td>
							</tr>
							<tr>
								<td><a href="/blax-cinnamon-gum"><img src="/img/products/blax/blax-cinnamon-gum.png" alt="Blax Cinnamon Gum"></a></td>
								<td><a href="/blax-cinnamon-gum">Blax любой 150 mg</a></td>
								<td>120</td>
								<td>110</td>
							</tr>
							<tr>
								<td><a href="/mad-fatality"><img src="/img/products/mad-tatality.png" alt="mad fatality 120 mg"></a></td>
								<td><a href="/mad-fatality">mad fatality 120 mg</a></td>
								<td>120</td>
								<td>110</td>
							</tr>
							<tr>
								<td><a href="/siberia-white-dry-slim-black"><img src="/img/products/siberia-white-black/siberia-black-white-dry-slim-portion.png" alt="черная сибирь слим"></a></td>
								<td><a href="/siberia-white-dry-slim-black">Siberia black slim⚫</a></td>
								<td>147</td>
								<td>145</td>
							</tr>
							<tr>
								<td><a href="/onyx"><img src="/img/products/onyx.png" alt="onyx оптом"></a></td>
								<td><a href="/onyx">onyx черные пакеты⚫</a></td>
								<td>145</td>
								<td>140</td>
							</tr>
							<tr>
								<td><a href="/velo-tropic-medium"><img src="/img/products/velo-tropic-3cans.png" alt="velo tropic breeze 2 точки"></a></td>
								<td><a href="/velo-tropic-medium">velo 2 точки тропик🟠</a></td>
								<td>40</td>
								<td>30</td>
							</tr>
						</tbody>
					</table>
					<p>Оптовые цены действуют при заказе от 50 банок (суммарно, можете взять 10 тех, 20 тех, 20 тех итд, главное, чтоб в сумме было не меньше 50), если Вас интересует меньший объем, то уточните <a href="#contactModal" data-toggle="modal" data-target="#contactModal">связавшись с нами</a>, лучше пишите в <a href="//t.me/snustop" target="_blank" title="Telegram"><i class="icon-telegram"></i>Telegram @snustop</a></p>
					<p>Цены могут меняться, все зависит от курса, на сегодня актуальный курс 👇</p>
					<div id="minfin-informer-m1Fn-nbu">Загружаем <a href="//minfin.com.ua/currency/" target="_blank">курсы валют</a></div><script>var iframe = '<ifra'+'me width="100" height="42" fram'+'eborder="0" src="//informer.minfin.com.ua/gen/nbu/?color=yellow" vspace="0" scrolling="no" hspace="0" allowtransparency="true"style="width:100px;height:42px;ove'+'rflow:hidden;"></iframe>';var cl = 'minfin-informer-m1Fn-nbu';document.getElementById(cl).innerHTML = iframe; </script>
					<p>Цены указаны на самые популярные товары. Если Вас интересует что-то другое, то свяжитесь с нами для уточнения цен.</p>
				</section>

				<article class="faq-details" itemscope itemtype="https://schema.org/FAQPage">
					<h2>Частые вопросы:</h2>
					<details itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
						<summary itemprop="name">Какой минимальный заказ?</summary>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
							<div itemprop="text">
								Минимальный заказ сумарнно 50 банок, например 10 <a href="/siberia-white-dry-slim">красной сибири слим</a>, 20 <a href="/thunder-x-slim-white-dry">тандер х</a>, 10 <a href="/corvus-brutal">корвус брутал</a>, 10 <a href="/general-g4-slim-apple-white">яблочного g4</a>, если хотите взять меньше, то свяжитесь с нами в телеграмме для уточнения: <a class="btn btn-telegram" href="//t.me/snustop" target="_blank" title="написать в телеграмм">Написать в Telegram<i class="icon-telegram"></i></a>
							</div>
						</div>
					</details>
					<details itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
						<summary itemprop="name">Как происходит доставка?</summary>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
							<div itemprop="text">Доставка курьерской службой "Новая Почта", возможна оплата при получении, так и сразу на карту. Цена доставки примерно 50 + 0,5% от стоимости, если присутствует наложенный платеж, то дополнительно за перевод денег обратно 20 + 2%.<br>Например, если заказать 100 банок (50 сибири слим по 135 и 50 тандер х слим по 115) без наложки, то доставка будет 50, если наложка, то =50+(50*135+50*115)*0,5%+20+(50*135+50*115)*2%=<b>380</b> примерно.</div>
						</div>
					</details>
					<details itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
						<summary itemprop="name">Я хочу взять те товары, которых у вас нет.</summary>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
							<div itemprop="text">
								В таблице представлены все популярные товары, но можно взять и другие, уточните связавшись с нами в телеграмме: <a href="//t.me/snustop" title="Telegram">Написать в Telegram @snustop</a>.
							</div>
						</div>
					</details>
					<details itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
						<summary itemprop="name">В будущем обязательно брать минимум 50 банок?</summary>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
							<div itemprop="text">Нет. Можно и меньше, если Вы первый раз взяли 50 банок, и какие-то позиции закончились у Вас, а каких-то еще много, то Вы можете докупить 20-30 банок недостающих товаров по оптовым ценам.</div>
						</div>
					</details>
				</article>

				<hr>

				<section class="row">
					<div class="col-md-7 d-flex align-items-center">
						<div>
							<h1 class="h2" id="opt-discount">Акции и скидки</h1>
							<p>Cкидка 5% на весь <strong>шведский снюс </strong> от 5-ти <b>любых (можно разных)</b> банок.<br>При покупке 10-ти <b>любых (можно разных)</b> банок действуют скидка 10%<br><small>Скидки отображаются только при оформлении заказа (на странице <a href="/order">заказа</a>)</small></p>
						</div>
					</div>
					<div class="col-md-5 text-center">
						<img class="img-fluid discount-img" src="img/opt/banking.svg" alt="Скидки и акции">
					</div>
				</section>

				<section class="mb-4">
					<h2>Каталог снюса | Розничные цены</h2>
					<div class="row catalog">
						<!-- PRODUCTS start -->
						<!-- PRODUCT START -->
						{% assign sorted_items = site.products | sort:"position" %}
							{% for product in sorted_items offset:0 limit:6 %}
							
							{% include item-product.html %}

							{% endfor %}
						<!-- PRODUCT END -->
						<!-- PRODUCTS end -->
					</div>
					<div>
						<a class="btn btn-primary" href="/" role="button">Больше товаров</a>
					</div>
				</section>


			</main>
		</div>
	</div>

	{% include modal-cart.html %}

	{% include modal-contact.html %}

	{% include arrow-to-top.html %}

	{% include footer.html %}

	{% include foot-scripts.html %}
