---
permalink: opt
title-seo: Купить снюс оптом в Украине
descr: У нас Вы можете купить шведский снюс по оптовым ценам. Звоните +380675680230
keywords: снюс оптом, купить снюс
layout: compress
---

{% include head.html %}
<body>

	<div class="content">

		{% include header.html %}

		{% include top-line.html %}


		<div class="container">
			<main class="opt margin-top-2rem">
				

					<section class="row">
						<div class="col-md-7 d-flex align-items-center">
							<div>
								<h1 class="h2">Снюс оптом</h1>
								<p class="lead">У нас Вы можете купить снюс по оптовым ценам<br>
									Для более подробной информации <a href="#contactModal" data-toggle="modal" data-target="#contactModal">свяжитесь с нами</a><br>
								Мы всегда будем рады с Вами сотрудничать</p>
							</div>
						</div>
						<div class="col-md-5 text-center">
							<img class="img-fluid" src="img/opt/big-snus.jpg" alt="Купить снюс оптом">
						</div>
					</section>

					<hr>

					<section class="row">
						<div class="col-md-7 d-flex align-items-center">
							<div>
								<h1 class="h2" id="opt-discount">Акции и скидки</h1>
								<p class="lead">Cкидка 5% на весь <strong>шведский снюс </strong>(купон: <b>5disc</b>).<br>При покупке от 10 любых банок действуют скидка 7% (<b>купон: 10cans</b>)<br>Для постоянных клиентов, которые суммарно купили болee 50 банок - купон со скидкой 10%<br><small>Скидки отображаются только при оформлении заказа (на странице <a href="/order">заказа</a>)</small></p>
							</div>
						</div>
						<div class="col-md-5 text-center">
							<img class="img-fluid discount-img" src="img/opt/banking.svg" alt="Скидки и акции">
						</div>
					</section>


			</main>
		</div>
	</div>

	{% include modal-cart.html %}

	{% include modal-contact.html %}

	{% include arrow-to-top.html %}

	{% include footer.html %}

	{% include foot-scripts.html %}
