---
permalink: opt
title-seo: Купить Снюс оптом Украина | Снюс опт
descr: Снюс оптом, все в наличии, доставка 1-3 дня, Siberia, Lyft, Thunder, Corvus,
  Odens, General и другие, отправка новой почтой наложенным платежом.
keywords: снюс оптом, купить снюс
layout: compress
---

{% include head.html %}
<body>

	<div class="content">

		{% include header.html %}

		{% include top-line.html %}


		<div class="container">
			<main class="opt margin-top-2rem">
				<section>
					<h1 class="h2">Снюс оптом Украина</h1>
					<p class="lead">У нас Вы можете купить снюс по оптовым ценам<br>
						Для более подробной информации <a href="#contactModal" data-toggle="modal" data-target="#contactModal">свяжитесь с нами</a><br>
					Мы всегда будем рады с Вами сотрудничать</p>
					<p>Оптовые цены действуют при заказе от 100 банок (суммарно, можете взять 10 тех, 50 тех, 30 тех итд, главное, чтоб в сумме было не меньше 100), если Вас интересует меньший объем, то уточните <a href="#contactModal" data-toggle="modal" data-target="#contactModal">связавшись с нами</a>, лучше пишите в <a href="//t.me/snustop" target="_blank" title="Telegram"><i class="icon-telegram"></i>Telegram @snustop</a></p>
					<p>Цены могут меняться, все зависит от курса, на сегодня актуальный курс 👇</p>
					<div id="minfin-informer-m1Fn-nbu">Загружаем <a href="//minfin.com.ua/currency/" target="_blank">курсы валют</a></div><script>var iframe = '<ifra'+'me width="100" height="42" fram'+'eborder="0" src="//informer.minfin.com.ua/gen/nbu/?color=yellow" vspace="0" scrolling="no" hspace="0" allowtransparency="true"style="width:100px;height:42px;ove'+'rflow:hidden;"></iframe>';var cl = 'minfin-informer-m1Fn-nbu';document.getElementById(cl).innerHTML = iframe; </script>
					<small>*цены указаны за 1 банку</small>
					<table class="table table-sm table-bordered opt-table">
						<thead>
							<tr>
								<th>Название</th>
								<th>100 банок</th>
								<th>240 банок</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="/thunder-x-slim-white-dry"><img src="/img/products/thunder-x-slim-white-dry.png" alt="Thunder X Slim White Dry снюс оптом в Украине"> Thunder X Slim White Dry</a></td>
								<td>115 грн</td>
								<td>105 грн</td>
							</tr>
							<tr>
								<td><a href="/offroad-x-white-dry-arctic-explorer"><img src="/img/products/offroad-x-white-dry-arctic-explorer.jpg" alt="Offroad X White Dry Arctic Explorer снюс оптом в Украине"> Offroad X White Dry Arctic Explorer</a></td>
								<td>105 грн</td>
								<td>95 грн</td>
							</tr>
							<tr>
								<td><a href="/siberia-white"><img src="/img/products/siberia-white-dry.png" alt="Siberia Extremely Strong White Dry купить снюс оптом в Украине"> Siberia Extremely Strong White Dry <b>16 граммовая</b></a></td>
								<td>145 грн</td>
								<td>135 грн</td>
							</tr>
							<tr>
								<td><a href="/siberia-white-dry-slim"><img src="img/products/siberia-white-dry-slim.jpg" alt="Siberia -80°C Slim White Dry снюс оптом в Украине"> Siberia -80°C Slim White Dry</a></td>
								<td>135 грн</td>
								<td>125 грн</td>
							</tr>
							<tr>
								<td><a href="/lyft-strong-ice-cool-mint-slim-all-white"><img src="/img/products/lyft-ice-cool-strong-mint-slim-all-white-portion.png" alt="Снюс Lyft купить оптом в Украине"> LYFT Strong Ice Cool Mint Slim All White</a></td>
								<td>160 грн</td>
								<td>155 грн</td>
							</tr>
							<tr>
								<td><a href="/lyft-x-strong-freeze-slim-white"><img src="/img/products/lyft-x-strong-freeze-slim-white.png" alt="Снюс Lyft Freeze купить оптом в Украине"> Lyft Freeze X-strong</a></td>
								<td>160 грн</td>
								<td>155 грн</td>
							</tr>
							<tr>
								<td><a href="/corvus-brutal"><img src="/img/products/corvus-brutal-snus.jpg" alt="Corvus Brutal оптом в Украине"> Corvus Brutal</a></td>
								<td>130 грн</td>
								<td>120 грн</td>
							</tr>
							<tr>
								<td><a href="/corvus-fenix-barberry"><img src="/img/products/corvus/corvus-fenix.png" alt="Корвус Fenix оптом в Украине"> Corvus Fenix</a></td>
								<td>130 грн</td>
								<td>120 грн</td>
							</tr>
							<tr>
								<td><a href="/corvus-logan"><img src="/img/products/corvus/corvus-logan.png" alt="Корвус Logan со вкусом дыни оптом в Украине"> Corvus Logan</a></td>
								<td>130 грн</td>
								<td>120 грн</td>
							</tr>
							<tr>
								<td><a href="/siberia-brown"><img src="/img/products/siberia-brown.jpg" alt="Siberia Brown Portion Snus оптом в Украине"> Siberia Brown Portion Snus</a></td>
								<td>140 грн</td>
								<td>135 грн</td>
							</tr>
							<tr>
								<td><a href="/siberia-brown-slim"><img src="/img/products/siberia-brown-slim.jpg" alt="Siberia -80°C Brown Slim Portion Snus Оптом в Украине"> Siberia -80°C Slim Brown</a></td>
								<td>140 грн</td>
								<td>135 грн</td>
							</tr>
							<tr>
								<td><a href="/general-g4-slim-apple-white"><img src="/img/products/g4-fuzn-slim-all-white-extra-strong-portion.jpg" alt="G4 Apple снюс оптом в Украине"> G4 Apple Mint Slim All White</a></td>
								<td>150 грн</td>
								<td>145 грн</td>
							</tr>
							<tr>
								<td><a href="/g4-cryo-slim-all-white-super-strong"><img src="/img/products/g4-cryo-slim-all-white-super-strong.jpg" alt="G.4 CRYO Slim All White Super Strong снюс оптом в Украине"> G.4 CRYO Slim All White Super Strong</a></td>
								<td>150 грн</td>
								<td>145 грн</td>
							</tr>
							<tr>
								<td><a href="/general-xrange-white-strong"><img src="/img/products/general-xrange-white-strong.png" alt="XRANGE General Slim Large White Strong снюс оптом в Украине"> XRANGE General Slim Large White Strong</a></td>
								<td>130 грн</td>
								<td>120 грн</td>
							</tr>
							<tr>
								<td><a href="/odens-cold-dry"><img src="img/products/odens-cold-dry.png" alt="odens cold dry 16 gramm"> Odens Cold Dry <b>16 граммовый</b></a></td>
								<td>125 грн</td>
								<td>115 грн</td>
							</tr>
						</tbody>
					</table>
					<p>Цены указаны на самые популярные товары. Если Вас интересует что-то другое, то свяжитесь с нами для уточнения цен.</p>
				</section>

				<article class="faq-details" itemscope itemtype="https://schema.org/FAQPage">
					<h2>Частые вопросы:</h2>
					<details itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
						<summary itemprop="name">Какой минимальный заказ?</summary>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
							<div itemprop="text">
								Минимальный заказ сумарнно 100 банок, например 30 <a href="/siberia-white-dry-slim">красной сибири слим</a>, 20 <a href="/thunder-x-slim-white-dry">тандер х</a>, 10 <a href="/corvus-brutal">корвус брутал</a>, 30 <a href="/lyft-x-strong-freeze-slim-white">лифт фриз</a>, 10 <a href="/general-g4-slim-apple-white">яблочного g4</a>, если хотите взять меньше, то свяжитесь с нами в телеграмме для уточнения: <a href="//t.me/snustop" title="Telegram">Написать в Telegram @snustop</a>
							</div>
						</div>
					</details>
					<details itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
						<summary itemprop="name">Как происходит доставка?</summary>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
							<div itemprop="text">Доставка курьерской службой "Новая Почта", возможна оплата при получении, так и сразу на карту. Цена доставки примерно 50 грн + 0,5% от стоимости, если присутствует наложенный платеж, то дополнительно за перевод денег обратно 20 грн + 2%.<br>Например, если заказать 100 банок (50 сибири слим по 135 грн и 50 тандер х слим по 115 грн) без наложки, то доставка будет 50 грн, если наложка, то =50+(50*135+50*115)*0,5%+20+(50*135+50*115)*2%=<b>380</b> грн примерно.</div>
						</div>
					</details>
					<details itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
						<summary itemprop="name">Я хочу взять те товары, которых у вас нет.</summary>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
							<div itemprop="text">
								В таблице представлены все популярные товары, но можно взять и другие, уточните связавшись с нами в телеграмме: <a href="//t.me/snustop" title="Telegram">Написать в Telegram @snustop</a>.
							</div>
						</div>
					</details>
					<details itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
						<summary itemprop="name">В будущем обязательно брать минимум 100 банок?</summary>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
							<div itemprop="text">Нет. Можно и меньше, если Вы первый раз взяли 100 банок, и какие-то позиции закончились у Вас, а каких-то еще много, то Вы можете докупить 20-30 банок недостающих товаров по оптовым ценам.</div>
						</div>
					</details>
				</article>

				<hr>

				<section class="row">
					<div class="col-md-7 d-flex align-items-center">
						<div>
							<h1 class="h2" id="opt-discount">Акции и скидки</h1>
							<p class="lead">Cкидка 5% на весь <strong>шведский снюс </strong> от 5-ти <b>любых (можно разных)</b> банок.<br>При покупке 10-ти <b>любых (можно разных)</b> банок действуют скидка 10%<br>Для постоянных клиентов, которые суммарно купили болee 50 банок - купон со скидкой 12%, на любое количество банок, хоть и на одну.<br><small>Скидки отображаются только при оформлении заказа (на странице <a href="/order">заказа</a>)</small></p>
						</div>
					</div>
					<div class="col-md-5 text-center">
						<img class="img-fluid discount-img" src="img/opt/banking.svg" alt="Скидки и акции">
					</div>
				</section>

				<section class="mb-4">
					<h2>Каталог снюса | Розничные цены</h2>
					<div class="row catalog">
						<!-- PRODUCTS start -->
						<!-- PRODUCT START -->
						{% assign sorted_items = site.products | sort:"position" %}
							{% for product in sorted_items offset:0 limit:6 %}
							
							{% include item-product.html %}

							{% endfor %}
						<!-- PRODUCT END -->
						<!-- PRODUCTS end -->
					</div>
					<div>
						<a class="btn btn-primary" href="/" role="button">Больше товаров</a>
					</div>
				</section>


			</main>
		</div>
	</div>

	{% include modal-cart.html %}

	{% include modal-contact.html %}

	{% include arrow-to-top.html %}

	{% include footer.html %}

	{% include foot-scripts.html %}
