---
title-seo: Снюс Украина | Страница 3
descr: Закажите снюс через наш интернет-магазин. Доставка в Киев 1 день. Работаем
  с такими брендами Epok, Siberia, Odens, Thunder, General и другими.
keywords: снюс, жевательный табак, шведский снюс, купить
layout: compress
---

{% include head.html %}
<body>

	<div class="content">

		{% include header.html %}

		{% include top-line.html %}

		<div class="container margin-top-2rem">

			<div class="row">
				<div class="col-lg-3">
					{% include filter.html %}
				</div>
				<div class="col-lg-9">
					<main class="catalog">
						<h2>Шведский снюс | страница 3</h2>
						<div class="row">

							<!-- PRODUCTS start -->
							<!-- PRODUCT START -->
							{% assign sorted_items = site.products | sort:"position" %}
							{% for product in sorted_items offset:30 limit:15 %}
							
							{% include item-product.html %}

							{% endfor %}
							<!-- PRODUCT END -->
							<!-- PRODUCTS end -->

							<!-- pagination start -->
							<div class="col-12 d-flex justify-content-between mb-4">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item"><a class="page-link" href="/">1</a></li>
										<li class="page-item"><a class="page-link" href="page-2">2</a></li>
										<li class="page-item active"><a class="page-link" href="page-3">3</a></li>
									</ul>
								</nav>
								<a class="btn btn-primary" href="snus-all" role="button">Показать все</a>
							</div>
							<!-- pagination end -->

						</div>
					</main>

				</div>
			</div>

			
		</div>
	</div>

	{% include modal-cart.html %}

	{% include modal-contact.html %}

	{% include arrow-to-top.html %}

	{% include footer.html %}
	
	{% include foot-scripts.html %}
