	<link rel="stylesheet" href="/css/main.min.css">
	<script src="/js/scripts.min.js"></script>
	{% if page.layout == 'product-page' %}
	<script>
		$(function() {

			function funcSuccess(data) {
				$("#reviews-container").html(data);
				$("#form-review").html("<p class='text-center'>Спасибо за отзыв! Мы ценим Ваше мнение.</p>");
				// $("#form-review").hide();
			}

			$("#form-review").submit(function(event) {
				event.preventDefault();

				var nameAuthor  = $("#input-name").val();
				var comment = $("#input-textarea").val();
				var fileName = "comments/odens-cold-dry.html";
				var selected = $(".star-rating input[type='radio']:checked").val();

				var myCaptcha = $("#captcha").val();

				if (!myCaptcha) {

					$.ajax({
						url: "review-php.php",
						type: "POST",
						data: ({Name: nameAuthor, Comment: comment, File_name: fileName, Rating_Val: selected}),
						dataType: "html",
						success: funcSuccess
					});

				}

			});
		});
	</script>
	{% endif %}

</body>
</html>