<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container">
					<a class="navbar-brand" href="/">Snus<sup>top</sup></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div class="collapse navbar-collapse" id="navbarsExampleDefault">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item {% if page.url == '/' %} active {% endif %}">
								<a class="nav-link" href="/">Каталог</a>
							</li>
							<li class="nav-item {% if page.url == '/delivery' %} active {% endif %}">
								<a class="nav-link" href="/delivery">Доставка и оплата</a>
							</li>
							<li class="nav-item {% if page.url == '/about' %} active {% endif %}">
								<a class="nav-link" href="/about">О нас</a>
							</li>
							<li class="nav-item {% if page.url == '/opt' %} active {% endif %}">
								<a class="nav-link" href="/opt">Опт и скидки</a>
							</li>
							<li class="nav-item {% if page.url == '/articles' %} active {% endif %}">
								<a class="nav-link pr-0" href="/articles">Блог</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>