<!-- Modal contact START -->
	<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<article class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLabel">Контакты</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<ul>
					<li>
						<a href="tel:+380675680230" title="Позвонить">
							<i class="icon-mobile"></i>
							+38 067 568 02 30
						</a>
					</li>
					<li>
						<a href="//api.whatsapp.com/send?phone=380675680230" target="_blank" title="Написать в WhatsApp">
							<i class="icon-whatsapp"></i>
							WhatsApp
						</a>
					</li>
					<li>
						<a href="//t.me/snustop" target="_blank" title="Telegram">
							<i class="icon-telegram"></i>
							Telegram
						</a>
					</li>
					<li>
						<a href="viber://chat?number=+380675680230" target="_blank" title="Написать в viber">
							<i class="icon-viber"></i>
							Viber
						</a>
					</li>
					<li>
						<a href="//www.instagram.com/snustop.com.ua/" target="_blank" title="instagram">
							<i class="icon-instagram"></i>
							Instagram
						</a>
					</li>
					<li>
						<a href="//vk.com/snus_ukraine_kiev" target="_blank" title="вконтакте">
							<i class="icon-vkontakte"></i>
							Вконтакте
						</a>
					</li>
					<li>
						<a href="mailto:snustop.com.ua@gmail.com" target="_blank" title="Написать на почту">
							snustop.com.ua@gmail.com
						</a>
					</li>
				</ul>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
				</div>
			</article>
		</div>
	</div>
	<!-- Modal contact END -->