<!-- Modal cart START -->
	<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<article class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="cartModalLabel">Товары в корзине</h4>

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="simpleCart_items"></div>

					<div class="cart-total text-right">
						Итого <small>без скидки: </small><b class="cart-total-price simpleCart_total">0 грн</b><br>
						<small>купоны и скидки применяются при оформлении заказа</small>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" role="button" aria-pressed="true" class="btn btn-secondary simpleCart_empty" data-dismiss="modal">Очистить</a>
					<a href="/order" role="button" class="btn btn-primary">Оформить заказ</a>
				</div>
			</article>
		</div>
	</div>
	<!-- Modal cart END -->