<!-- TOP LINE START -->
		<div class="top-line">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<a href="#cartModal" class="cart" data-toggle="modal" title="Посмотреть корзину" data-target="#cartModal" >
						<i class="icon-basket"></i>
						<span>(<b class="simpleCart_quantity">0</b>)</span>
					</a>
					<a class="head-contacts" href="#contactModal" data-toggle="modal" data-target="#contactModal">Связаться с нами</a>
				</div>
			</div>
		</div>
		<!-- TOP LINE END -->