{% include head.html %}
<body>

	<div class="content">

		{% include header.html %}

		{% include top-line.html %}


		<div class="container">
			<main class="margin-top-2rem">

				<div class="row">
					<div class="col-lg-3">
						{% include filter.html %}
					</div>
					<div class="col-lg-9">
						<main class="catalog" id="pjax-container">

							<section>
								<h2>{{ page.filter-name-h2 }}</h2>
								{{ content }}
							</section>

							<div class="row">
								<!-- сразу выводим в наличии -->
								{% assign sorted_items = site.products | sort:"position" | where: "brand", page.filter-brand-list%}
							{% for product in sorted_items %}
							
							{% if product.has_availability == true %}
									{% include item-product.html %}
							{% endif %}
							

							{% endfor %}
							<!-- сразу выводим в наличии -->

								<!--  выводим чего нет в наличии -->
								{% assign sorted_items = site.products | sort:"position" | where: "brand", page.filter-brand-list%}
							{% for product in sorted_items %}
							
							{% if product.has_availability == false %}
									{% include item-product.html %}
							{% endif %}
							

							{% endfor %}
							<!-- выводим чего нет в наличии -->
							</div>

						</main>
						
					</div>
				</div>

			</main>
		</div>
	</div>

	{% include modal-cart.html %}

	{% include modal-contact.html %}

	{% include arrow-to-top.html %}

	{% include footer.html %}

	{% include foot-scripts.html %}
